<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sol-Date</title>
    <!--CSS-->
    <link rel = "stylesheet" th:href="@{/css/menuStyle.css}">
    <link rel = "stylesheet" th:href="@{/css/soilStyle.css}">
    <!--jQuery-->
    <script src = "/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script th:src = "@{/js/menuScript.js}"></script>
    <script th:src = "@{/js/soilScript.js}"></script>
    <!--Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ro.js"></script>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
    <!--  Box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="logo_name">Data-Inspector</span>
    </div>
    <ul class="nav-links">
        <li>
            <div class="iocn-link">
                <a href="#" id = "senzori-big-btn">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Senzori</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#" id = "senzori-btn">Senzori</a></li>
                <li><a href="#" id = "dht11-btn">DHT11</a></li>
                <li><a href="#">Umiditate sol</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="home-section">
    <div class="home-content">
        <i class='bx bx-menu' ></i>
    </div>
    <div id="content">
        <div class="container-fluid text-center">
            <h1>SOL</h1>
            <table id="soilTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Umiditatea solului</th>
                        <th>ID - microcontroller</th>
                        <th>Dat&#259; / Or&#259; &#238;nregistrare</th>
                   </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Umiditatea solului</th>
                        <th>ID - microcontroller</th>
                        <th>Dat&#259; / Or&#259; &#238;nregistrare</th>
                    </tr>
                </tfoot>

            </table>
            <hr style = "top: 10px;">
        </div>


        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary btn-lg" id="data24hours">Vizualizare 24 ore</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary btn-lg" id="data7days">Vizualizare 7 zile</button>
                </div>
            </div>
            <div class="row">
                <div class = "polar">
                    <canvas id = "polarChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
</script>
</body>
</html>